*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.yellow_Parent{
    background-color: #F4CF1B ;
}
.yellow_Parent h3{
     color:#1078AD;
    font-size:20px;
}
.in_section_first_div h3{
    font-size:25px;
    color:#1078AD;
}
.in_section_first_div p{
    font-size:19px;
    font-weight:bold;
    color:#7F7F7F;
    text-align: center;
}

.btn_start{
    height:60px;
    background-image: url("image/Merged bar-13.svg");
    color:#1078AD;
    font-size: 27px;
    font-weight:bold;
    border-radius: 13px;
}
.btn_start:hover{
    background-color: #1078AD;
    color:white;
}
.img_home{
    width:90%;
}
.main_images{
    margin-top:7rem ;
}
.main_first_h2{
    color:#1078AD;
}
.four_images h4{
    color: #1078AD;
    text-align:center;
}
.four_images img{
    width:200px !important;
}
@media (max-width: 1000px){

    .two_img_first , .two_img_last{
        flex-direction:column;
        align-items: center;
        gap: 4rem;
    }

    .img_home{
        width:70%;
    }
    .first_section_home{
        display: flex;
        flex-direction: column;
        align-items:center;
    }

}

.progress-container {
    display: flex;
    margin: 0 auto 30px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 350px;
    max-width: 100%;
}

.progress-container:before {
    content: "";
    width: 100%;
    background-color: #026534;
    height: 3px;
    position: absolute;
    z-index: -1;
}

.progress {
    width: 0;
    background-color: red;
    height: 5px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease-in-out;
}

.circle {
    /*background: #fff;*/
    height: 11px;
    width: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border: 3px solid #F4CF1B;*/
    background-color:#1078AD;
    border-radius: 50px;
}
.sml_crcl2{
    background-color: #F4CF1B;
}

.active_1 ,.active_2,.active_3 {
    background-color: #6e9ebd;
    width: 30px;
    height: 30px;
    transition: 0.6s ease-in;
}
