*{
  font-family: 'Cairo', sans-serif;
}
.navbar {
  background-image: url(./Assets/nav-Img.svg);
  padding: 0px 5vw;
}

#Language {
  background-image: url(./Assets/nav-Img.svg);
  border-radius: 10px;
  margin-left: 50px;
  border: 1px solid rgba(3, 104, 163, 0.815);
  padding: 5px;
}

.empty {
  height: 100px;
}

.line {
  margin: auto;
  width: 200px;
  background-color: rgb(255, 238, 0);
}

.paragraph {
  background-color: #96c5dc;
  padding: 40px;
  border-radius: 5px;
  text-align: center;
}

.btnEnd {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
    /* ###########  Error404 PAGE ################################# */
    
    .first-colorbg {
        background-color: #1078AD;
    }
    
    .first-color {
        color: #1078AD;
    }
    
    .error404 {
        font-family: 'Cairo', sans-serif;
     

    }
